.hide{
  display: none;
}

.button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

.button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.button:hover::before {
  filter: blur(20px);
}

.button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.cardLabel{
  width: 90% !important;
}
.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

.parent-container{
 height: 60vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.btn-position{
  display: flex;
  gap: 50px;
}

.goBack-btn {
  font-family: monospace;
  font-size: 1.5rem;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}

.goBack-btn:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.display-btns-position{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.disable:hover{
  color: #717171 !important;
  background: #313131 !important;
  border: 1px solid #414141 !important;
  cursor: not-allowed;
}

.errorMessage{
  color: red;
}

.loader {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 50px;
  height: 50px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.flash-card{
  height: 500px;
  width: 600px;
  transform: translate(10px);
  transform-origin: top left; 
  position: absolute;
  bottom: 26%;

}

.card-body{
  height: 400px;
  background-color: blue;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.card-footer{
  height: 70px;
  background-color: white;
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body .front, .card-footer .front{
  transition: opacity 0.5s;
  backface-visibility: hidden;
}

.inner-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-body .back, .card-footer .back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.flipped .card-body, .flipped .card-footer {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

@keyframes liftAndDown {
  0% {
      transform: translateY(-60%);   
  }
  100%{
      transform: translateY(0); 
  }
}

.next-card {
  animation: liftAndDown 1s ease-in-out;
}

@keyframes liftAndDownFlip {
  0% {
      transform: translateY(-60%) rotateY(180deg);   
  }   
  100%{
      transform: translateY(0) rotateY(180deg); 
  }
}
.next-card-flipped{
  animation: liftAndDownFlip 1s ease-in-out;
}

@keyframes liftAndDownBack {
  0% {
      transform: translateY(-60%);   
  }
  100%{
      transform: translateY(0); 
  }
}

.back-card {
  animation: liftAndDownBack 1s ease-in-out;
}

@keyframes liftAndDownBackFlip {
  0% {
      transform: translateY(-60%) rotateY(180deg);   
  }   
  100%{
      transform: translateY(0) rotateY(180deg); 
  }
}
.back-card-flipped{
  animation: liftAndDownBackFlip 1s ease-in-out;
}


.flip-btn{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 10px; 
  height: 11%;
  left: 75%;
  top: 85%;
}

.flip-icon{
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.back-btn, .next-btn{
  margin-right: 80px;
}

.back-btn, .next-btn, .shuffle-btn{
  width: 80px;
  height: 30px;
}

.card-text{
  color: white;
  position: relative;
  top: 10%;
  left: 5%;
  font-size: 20px;
}
